Support valueConstraint for UriTemplate and UUID

See documentation [here](https://github.com/openactive/data-models/commit/533e3acf7ccdb96df6cf3d20b8248de8d924c2c8), rules as follows:

## "valueConstraint": "UriTemplate"
- Checks that the value is a valid [Uri Template](https://github.com/openactive/data-model-validator/blob/652c8d9d63679a83c6e4bb88975dfaf86fa454fa/src/helpers/property.js#L187-L187), and outputs a FAILURE if not

## "valueConstraint": "UUID"
- Checks that the value is a valid lowercase UUID, and outputs a FAILURE if not. The error message should cite RFC 4122 Section 3, which requires that UUID characters be generated in lower case.
